@media screen and (max-width: 800px){

    main{
        display: flex;
        flex-direction: column;
        width: 100vh;
        text-align: center;
        align-items: center;
    }    

    .sidebarnav{
        flex-direction: row;
        justify-content: center;
    }

    .sidebarnav li{
        margin: 0 8px;
    }

    footer{
        display: none;
    }
    
}